body
{
    background-color: rgb(129, 17, 194);

}




@media screen and (max-width: 1920px) {
    head
    {
        background-color: blue;
    }
    content
    {
    
    }

    links
    {

    }
    rechts
    {

    }

    }

@media screen and (max-width: 1080px) {
head
    {
        background-color: red;
    }
content
{
    
}

links
{

}
rechts
{

}

}

@media screen and (max-width: 768px) {
head
    {
        background-color: purple;
    }
content
{

}

links
{

}
rechts
{

}

}
