body
{
    background-color: rgb(129, 17, 194);

}




@media screen and (max-width: 1920px) {
    head
    {
        color: blue;
    }
    content
    {
    
    }

    links
    {

    }
    rechts
    {

    }

    }

@media screen and (max-width: 1080px) {
head
    {
        color: red;
    }
content
{
    
}

links
{

}
rechts
    background-color: rgb(255, 255, 255);

}
h1
{
    color: rgb(0, 23, 151);
    border: 1px solid black;
}

.content
{ 
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}

.main
{
    flex: 1;
    border: 1px solid black;
}
.links
{
    flex: 2;
    border: 1px solid black;
}
.rechts
{
    flex: 3;
    border: 1px solid black;
}
