body
{
    background-color: white;
    
}

.flex{
    display: flex;
    
    
}
@media screen and (max-width: 1920px) {
    
    .head
    {

    }
    .content
    {
        width: 100px;
        height: 50px;
        color: red;
    }

    .links
    {
        width: 100px;
        height: 50px;
    }
    .rechts
    {
        width: 100px;
        height: 50px;
    }

    }

@media screen and (max-width: 1080px) {
    
    .head
    {
        background-color: red;
    }
    .content
    {
        width: 100px;
        height: 50px;
        color: green;
    }

    .links
    {
        width: 100px;
        height: 50px;
    }
    .rechts
    {
        width: 100px;
        height: 50px;
    }

}

@media screen and (max-width: 768px) {

    .head
    {
        background-color: ;
    }
    .content
    {
        width: 100px;
        height: 50px;
        color: blue;
    }
    
    .links
    {
        width: 100px;
        height: 50px;
    }
    .rechts
    {
        width: 100px;
        height: 50px;
    }

}
